{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-spring_green-400 font-serif leading-normal tracking-wide">
    <nav
      class="bg-crimson-400 w-full flex relative justify-between items-center mx-auto px-8 h-20 text-yellow-100"
    >
      <div class="inline-flex">
        <a
          class="inline-block py-2 px-3 hover:bg-crimson-400 rounded-sm"
          href="/"
        >
          <div
            class="flex items-center relative cursor-pointer whitespace-nowrap"
          >
            kanka
          </div>
        </a>
      </div>
      <!-- end login -->
    </nav>

    <div class="container mx-auto">
      <section class="flex items-center justify-center h-screen">
        {% block content %} {% endblock content %}
      </section>
    </div>
    <footer class="fixed bottom-0 left-0 right-0 bg-crimson-400 py-4">
      <div class="container mx-auto text-center">
        <p class="text-yellow-100 font-extralight text-xs">
          &copy; huse kivrak
        </p>
      </div>
    </footer>
  </body>
</html>
