{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body
    class="bg-spring_green-400 font-serif leading-normal tracking-wide flex flex-col min-h-screen"
  >

    <!-- navbar -->
    <nav
      class="w-full flex relative justify-between items-center mx-auto px-8 h-10 text-yellow-100"
    >
      <div class="inline-flex">
        <a class="inline-block py-2 px-3 rounded-sm" href="/">
          <div
            class="flex items-center relative cursor-pointer whitespace-nowrap"
          >
            kanka
          </div>
        </a>
      </div>
      <div class="inline-flex">
        {% if user.is_authenticated %}
        <a class="inline-block py-2 px-3 rounded-sm" href="/letters/mailbox/"
        >mailbox</a
        >
        <a class="inline-block py-2 px-3 rounded-sm" href="/accounts/profile/"
          >profile</a
        >
        <a class="inline-block py-2 px-3 rounded-sm" href="/accounts/logout/"
          >logout</a
        >
        {% else %}
        <a class="inline-block py-2 px-3 rounded-sm" href="/accounts/login/"
          >login</a
        >
        {% endif %}
      </div>
    </nav>
    <!-- end of navbar -->


    <main class="w-full flex-grow">
      <!-- {% if messages %}
      <div class="space-y-4 text-center">
        {% for message in messages %}
        <div
          class="{% if message.tags %} alert inline-block text-xs p-1 text-white
          {% if message.tags == 'error' %}bg-rose-600{% elif message.tags == 'info' %}bg-blue-500{% else %}bg-green-500{% endif %}{% endif %}"
        >
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %} -->

      {% block content %}
      {% endblock content %}
    </main>

    <footer class="py-2">
      <div class="container mx-auto text-center">
        <p class="text-yellow-100 font-extralight text-xs">
          &copy; huse kivrak
        </p>
      </div>
    </footer>
  </body>
</html>
