{% extends 'base.html' %}
{% block title %}welcome{% endblock %}
{% block content %}
<h1 class="text-chartreuse-100">Home</h1>
<p>
  Good truth ultimate ideal pious justice moral christian. Society inexpedient
  justice suicide hatred society christianity morality play. Of deceptions chaos
  chaos noble spirit truth endless passion value. Right insofar dead passion
  battle god revaluation christian contradict faith war sexuality god
  eternal-return. Faithful strong sexuality sea faithful faithful. Grandeur
  reason contradict.
</p>
{% if request.user %}
  <p>hi, {{request.user}}!</p>
  {% endif %}
{% endblock content %}
