{% extends 'base.html' %}
{% load static %}

{% block title %}write a letter{% endblock title %}

{% block content %}

<form method="post" action="/letters/create/">
  {% csrf_token %}
  {{ form.media }}

  <label
    for="title"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >title:</label
  >

  <input
    type="text"
    name="title"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    id="title"
  />

  <br />

  <label
    for="body"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >body:</label
  >
  {{ form.body }}

  {% if form.errors %}
  <p class="text-red-500 text-xs italic">{{ form.errors }}</p>
  {% endif %}

  <!-- <textarea

class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"

name="body"

id="body"

></textarea> -->

  <br />

  <select
    name="recipient"
    id="recipient"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    required
  >
    <option selected disabled value="">choose a recipient</option>

    {% for user in users %}

    <option value="{{ user.id }}">{{ user.username }}</option>

    {% endfor %}
  </select>

  <br />

  <input
    type="submit"
    name="save_draft_button"
    value="save as draft"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />

  <input
    type="submit"
    name="send_button"
    value="send"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</form>


{% endblock content %}
