{% extends 'base.html' %}
{% block title %}kanka: login{% endblock %}

{% block content %}
<div class="w-full md:max-w-xs mx-auto py-8">
  <form method="post" action="/accounts/login/" class="flex flex-col items-center">
    {% csrf_token %}
    <div class="mb-4 w-full">
      <label
        class="block text-white text-sm font-medium mb-2"
        for="{{ form.username.id_for_label }}"
      >
        username
      </label>
      <input
        name="{{ form.username.name }}"
        class="text-white text-sm p-2 bg-yellow-200 w-full min-w-0 border border-yellow-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400"
        id="{{ form.username.id_for_label }}"
        type="text"
        placeholder="artemis"
        required
      />
    </div>
    <div class="mb-6 w-full">
      <label
        class="block text-white text-sm font-medium mb-2"
        for="{{ form.password.id_for_label }}"
      >
        password
      </label>
      <input
        name="{{ form.password.name }}"
        class="text-white text-sm p-2 bg-yellow-200 w-full min-w-0 border border-yellow-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400"
        id="{{ form.password.id_for_label }}"
        type="password"
        placeholder="c@tNip123"
        required
      />
    </div>
    <div class="flex items-center justify-center">
      <button
        class="text-white text-sm bg-chartreuse-200 p-2 rounded-lg hover:bg-chartreuse-100"
        type="submit"
      >
        sign in
      </button>
    </div>
  </form>
</div>
{% endblock content %}
